.chat-main
  .chat-main__group-info
    .chat-main__group-info__group
      .chat-main__group-info__group__group-name
        = @group.name
      .chat-main__group-info__group__group-member
        Member :   
        %ul
          - @group.users.each do |user|
            %li= user.name
    .chat-main__group-info__edit-btn
      = link_to edit_group_path(@group), class: "edit-btn" do
        Edit
  
  -# (message仮の物)    
  -# .chat-main__message-list
  -#   .chat-main__message-list__info
  -#     .chat-main__message-list__info__name
  -#       masa
  -#     .chat-main__message-list__info__date
  -#       2019/11/20(wed) 17:43:01
  -#   .chat-main__message-list__message
  -#     おはよう！
  -#   .chat-main__message-list__info
  -#     .chat-main__message-list__info__name
  -#       masa
  -#     .chat-main__message-list__info__date
  -#       2019/11/21(thu) 12:42:33
  -#   .chat-main__message-list__message
  -#     こんにちは！
  -#   .chat-main__message-list__info
  -#     .chat-main__message-list__info__name
  -#       masa
  -#     .chat-main__message-list__info__date
  -#       2019/11/21(thu) 19:23:56
  -#   .chat-main__message-list__message
  -#     こんばんは！

  -# (元の物)
  -# .messages
  -# = render @messages

  .chat-main__messages      
    = render @messages

  -# (form元の物)
  -# .chat-main__message-form
  -#   .chat-main__message-form__input
  -#     %input.chat-main__message-form__input__text{name: "message", placeholder: "type a message", type: "text", value: ""}
  -#     %label{class: "chat-main__message-form__input__image"}
  -#       = icon('fas', 'image')
  -#       %input.chat-main__message-form__input__image__file{type: "file"}

  -#   %input.chat-main__message-form__submit{type: 'submit', value: 'Send'}

      (form模範回答)
    -# .form
    -# = form_for [@group, @message] do |f|
    -#   = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    -#   .form__mask
    -#     = f.label :image, class: 'form__mask__image' do
    -#       = icon('fas', 'image', class: 'icon')
    -#       = f.file_field :image, class: 'hidden'
    -#   = f.submit 'Send', class: 'form__submit'


  .chat-main__form
    = form_for [@group, @message] do |f|
      .chat-main__form__mask
        = f.text_field :content, class: 'chat-main__form__mask__message', placeholder: 'type a message', :multipart => true
        = f.label :image, class: 'chat-main__form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'chat-main__form__submit'